<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <util:CloseApplication
      Id="ClosePropAiDesktop"
      Target="propai-desktop.exe"
      Description="PropAi Sync must be closed before the installer can continue."
      CloseMessage="yes"
      ElevatedCloseMessage="yes"
      EndSessionMessage="yes"
      ElevatedEndSessionMessage="yes"
      Timeout="10"
      RebootPrompt="no"
      TerminateProcess="1" />
  </Fragment>
</Wix>
